html{
  border: 30px solid brown;
  max-height: 600px;
}

body {
	background-color: #000;
}

.title{
  text-align: center;
  margin-top: 40px;
  font-family: 'chalk-font';
  color: #fff;
}

.grid {
  margin-top: 30px;
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 500px;
  cursor: pointer;
}

.box {
  font-size: 50px;
  text-align: center;
  padding: 25px;
  border: 1px solid #fff;
  height: 122px;
  font-family: 'chalk-font';
  color: #fff;
}

.col-md-4{
	padding-right: 0px;
  padding-left: 0px;
}

/* Modal */

.modal-body{
  display: flex;
  justify-content: center;
}

.modal-title{
	text-align: center;
}

#x-button, #y-button{
	margin-left: 10px;
	margin-right: 10px;
}

@font-face{  font-family:'chalk-font';  
  src: url('../fonts/SqueakyChalkSound.ttf'); 
}