html{
  border: 30px solid brown;
  height: 100%;
}

body {
	background-color: #000;
}

.title{
  text-align: center;
  margin-top: 15px;
  font-family: 'chalk-font';
  color: #fff;
}

.grid {
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  font-size: 50px;
  text-align: center;
  padding: 25px;
  border: 1px solid #fff;
  height: 122px;
  font-family: 'chalk-font';
  color: #fff;
  width: 102px;
}

.col-md-4{
	padding-right: 0px;
  padding-left: 0px;
}

/* Modal */

@media (min-width: 768px){
  .modal-dialog {
    width: 345px;
  }
}

.modal-body{
  display: flex;
  justify-content: center;
}

.modal-title{
	text-align: center;
}

#x-button, #y-button{
	margin-left: 10px;
	margin-right: 10px;
}

@font-face{  font-family:'chalk-font';  
  src: url('../fonts/SqueakyChalkSound.ttf'); 
}

/* Speech Bubble */

.speech-container{
  display: flex;
  justify-content: center;
}

.speech-bubble {
  border:5px solid #FF8C00;
  color: #000;
  background-color: #fff;
  position:relative;
  padding:15px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  display:none;
}

#bubble-text{
  display:inline-block;
}

#x{
  cursor:pointer;
  display: inline;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
}
