/* Font */

@font-face{  
  font-family:'chalk-font';  
  src: url('../fonts/SqueakyChalkSound.ttf'); 
}

/* Entire Page */

html{
  border: 30px solid transparent;
  -webkit-border-image: url(../images/oak-frame.jpg) 30 stretch;  /* Safari 3.1-5 */
  -o-border-image: url(../images/oak-frame.jpg) 30 stretch; /* Opera 11-12.1 */
  border-image: url(../images/oak-frame.jpg) 30 stretch;
  height: 100%;
}

body {
  background:url('../images/blackboard.png');
}

.title{
  text-align: center;
  margin-top: 15px;
  font-family: 'chalk-font';
  color: #fff;
}

.grid {
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  font-size: 50px;
  text-align: center;
  padding: 25px;
  border: 1px solid #fff;
  height: 110px;
  font-family: 'chalk-font';
  color: #fff;
  width: 100px;
}

.col-md-4{
	padding-right: 0px;
  padding-left: 0px;
}

.help{
  text-align: right;
}

.help-link{
  font-family: 'chalk-font';
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.help-link:hover{
  text-decoration: none;
}

@media(max-width: 500px){
  
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  .board{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #speech-bubble-id {
    margin-top: 10px;
  }

  .box{
    font-size: 35px;
    width: 90px;
    height: 90px;
  }
}

@media(max-width: 400px){

  html{
    border: 20px solid transparent;
    -webkit-border-image: url(../images/oak-frame.jpg) 20 stretch;  /* Safari 3.1-5 */
    -o-border-image: url(../images/oak-frame.jpg) 20 stretch; /* Opera 11-12.1 */
    border-image: url(../images/oak-frame.jpg) 20 stretch;
  }

  .box{
    font-size: 28px;
    width: 80px;
    height: 80px;
  }

  .grid{
    margin-bottom: 5px;
  }

  .help-link{
    font-size: 12px;
  }
}

/* Starting Modal */

.modal-body{
  display: flex;
  justify-content: center;
}

.modal-title{
	text-align: center;
}

#x-button, #y-button{
	margin-left: 10px;
	margin-right: 10px;
}

@media (min-width: 768px){
  .modal-dialog {
    width: 345px;
  }
}

/* Speech Bubble */

.speech-container{
  display: flex;
  justify-content: center;
}

.speech-bubble {
  border:5px solid #FF8C00;
  color: #000;
  background-color: #fff;
  position:relative;
  padding:15px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  display:none;
}

#bubble-text{
  display:inline-block;
}

#x{
  cursor:pointer;
  display: inline;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
}

@media(max-width: 400px){
  .speech-bubble{
    padding: 13px;
  }
}
/* Help Modal */

.game-info{
  list-style-type: none;
}

#speech-bubble-modal-id{
  font-size: 11px;
}

.modal-mark{
  font-weight: 900;
}

.x-mark{
  color: #337ab7;
}

.o-mark{
  color: #f0ad4e;
}

@media (max-width: 500px){
  #speech-bubble-id{
    font-size: 11px;
  }
  #x {
    font-size: 15px;
  }
}

@media(max-width: 400px){
  #speech-bubble-modal-id {
    font-size: 7px;
  }
}